<article class="article-preview">

  <!--<header>
    <h2 class="title"> <a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
    <div class="meta">
      {{ .Date.Format "Jan 2, 2006" }} - {{ .ReadingTime }} minutes
    </div>
    {{ partial "tags.html" . }}
  </header>-->

  <div class="logtitle"><a href='{{ .Params.link }}'>{{ .Title }}</a></div><!--
  --><div class="logsummary">- <a href='{{ .Permalink }}'>{{ .Summary }}</a></div>

  <!--<footer>
  <div class="rmore">
    <a href='{{ .Permalink }}'><nobr>Read more ...</nobr></a>
  </div>
  </footer>-->

</article>
