
{{ partial "header.html" . }}

<main>

<h1>Recent logs</h1>

<div class="logs">
{{ range (first 2 ((where .Data.Pages "Type" "log").GroupByDate "Jan 2, 2006")) }}
  {{ partial "recentlogslist" . }}
{{ end }}
</div>
<div class="rmore"><a href="/log/">View log...</a></div>

<h1>Articles</h1>

{{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
{{ end }}

{{ partial "paginator-menu.html" . }}

</main>

{{ partial "footer.html" . }}
