
{{ partial "header.html" . }}

<main>

<h1>Recent logs</h1>

{{ range (first 2 ((where .Data.Pages "Type" "log").GroupByDate "Jan 2, 2006")) }}
  <div class="log">
  <div class="logmeta">
    {{ .Key }} — {{ len .Pages }} {{ if eq (len .Pages) 1 }}log{{ else }}logs{{ end }}
  </div>
  {{ range .Pages }}
    {{ .Render "logsummary" }}
  {{ end }}
  </div>
{{ end }}
<div class="rmore"><a href="/log/">View log...</a></div>

<h1>Articles</h1>

{{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
{{ end }}

{{ partial "paginator-menu.html" . }}

</main>

{{ partial "footer.html" . }}
